
.container{
    height: 100%;
    width: 100%;
}
.form_container>form>input{
    width: 80%;
    padding: 2%;
    height: 3%;
    font-family: monospace;
    font-size: 100%;
    margin-top: 1%;
    MARGIN-INLINE-START: 10%;
}
    

.form_container>form>button {
    width: 50%;
    /* align-content: center; */
    height: 4%;
    margin-top: 4%;
    margin-inline-start: 25%;
}
.form_container{
    padding: 1%;
    width: 50%;
    /* align-content: center; */
    margin-top: 30%;
    margin-left: 25%;
    border-style: dashed;
    border-width: 50%;
    border-color: red;
    

}