
.container{
    height: 100%;
    width: fit-content;
}
.form_container>form>input{
    width: 100%;
    /* padding: 5%; */
    height: 5%;
    font-family: monospace;
    font-size: 100%;
    margin-top: 1%;
}
    

.form_container>form>button {
    width: 50%;
    /* align-content: center; */
    height: 5%;
    margin-top: 4%;
    margin-inline-start: 25%;
}
.form_container{
    padding: 1%;
    width: 50%;
    align-content: center;
    margin-top: 30%;
    margin-left: 40%;
    border-style:dashed;
    border-width: 50%;
    
    
    border-color : red;
    

}